.background {
    background-image: url("https://adali.scweb.ca/php3/assignment1/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a.text-decoration-none {
    text-decoration: none; !important;
}
